<!DOCTYPE html> <html> <head> <title>{% block title %}Moja strona{% endblock %}</title> <style> body { font-family: Arial; margin: 20px; } nav { margin-bottom: 20px; border-bottom: 1px solid #ccc; padding-bottom: 10px; } table { border-collapse: collapse; width: 100%; } table, th, td { border: 1px solid black; } th, td { padding: 10px; text-align: left; } </style> </head> <body> <nav> <a href="/">Home</a> | <a href="/info/">Info</a> | <a href="/rules/">Regulamin</a> | <a href="/products/">Produkty</a> | <a href="/notes-paginated/">Notatki</a> </nav>
 {% block content %}
    Domyślna treść
{% endblock %}
   <body></html>```
    